<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div class="container" id="app">
        <section v-on:click="play">
            <div v-for="row in 3" class="row">
                <div v-for="col in 3" class="col case">
    
                </div>
            </div>
        </section>
    </div>

    <script>
        //Instance Vujs
        const app = new Vue({
            el : "#app",
            data : {
                firstPlayer : true
            },
            methods : {
                play(e){
                    console.log(e.target.getAttribute("class"))
                    if(e.target.classList.contains("case")) {
                        if(e.target.innerText == ""){
                            e.target.innerText = (this.firstPlayer) ? 'X' : 'O'
                            this.firstPlayer = !this.firstPlayer
                        }
                    }
                }
            }
        })
    </script>
</body>
</html>